<div class="home-container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content-container">
        <div class="grid-container">
            <div class="grid-item carousel-item">
                <app-carousel></app-carousel>
            </div>
            <div class="grid-item image-item">
                <img src="../../../assets/diamond.webp" alt="Diamond">
            </div>
            <div class="grid-item image-item">
                <img src="../../../assets/falling-money.webp" alt="Falling Money">
            </div>
        </div>
    </div><br>
    <div>
        <app-silver-page></app-silver-page>
    </div>
</div>